<div class="container">
  <h1>Amazing app</h1>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto consequuntur vel illo atque id ipsa! Voluptatum sint accusantium, quidem, iste magnam doloribus illum inventore dolore quisquam, dolorum expedita consectetur quod.</p>
  <%= link_to 'create', '#', class: 'btn btn-danger'  %>
</div>
